*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 620px) {
    header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
}

.title {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-shadow: 5px 0px 2px rgb(131, 128, 128);
    color: skyblue;
}
.container {
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
   
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: #FFF;
    width: 350px;
    height: 400px;
    margin-top: -100px;

}
.cep {
    border: none;
    outline: none;
    width: 200px;
    font-size: 18px;
    text-indent: 10px;
    margin-left: 10px;
    
}
.it-form {
    position: relative;
    font-size: 18px;
    color: #808080;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 360px;
    height: 35px;
    margin-top: 20px;
    text-indent: 10px;
    border-radius: 20px;
   
}
.it-form-inp {
   position: relative;
    font-size: 14px;
    color: #808080;
     display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 35px;
    margin-top: 0px;
     border-radius: 20px;
     text-indent: 10px;
     
}
.cep {
    background: none;
    text-indent: 100px;
    margin-top: 10px;
    background: white;
}
.cep::placeholder {
    color: rgb(197, 195, 195);
    font-size: 18px;
}


 .cep ~ label{
    position: absolute;
    color: skyblue;
    top: 15px;
    transition: .4s;
}
.cep:focus, .cep:valid {
    text-indent: 20px;
}
.cep:focus ~ label,
.cep:valid ~label {
    transform: translateY(-20px);
    font-size: 12px;
}
label {
 color: skyblue;
 margin-left: 10px;
}
button {
    width: 340px;
    height: 30px;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    font-family: monospace;
    font-weight: bold;
     text-shadow: 3px 0px 2px rgb(131, 128, 128);
    color: rgb(112, 112, 153);
    font-size: 22px;
    background: rgb(217, 238, 247);
}
button:hover {
    color: rgb(217, 238, 247);
    background:rgb(14, 14, 136);
    box-shadow: 0px 5px 5px rgb(131, 128, 128);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 99.7vw;
    text-shadow: 5px 0px 2px rgb(131, 128, 128);
    height: 40px;
    bottom: 0;
    left: 0;
    color: skyblue;
    background: rgba(0, 0, 0, 0.4);

}
.texto {
    font-size: 18px;
}
}

@media screen and (min-width: 621px) {
    header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
}

.title {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-shadow: 5px 0px 2px rgb(131, 128, 128);
    color: skyblue;
}
.container {
     display: flex;
    justify-content: center;
    align-items: center;
   background: #FFF;
   height: 100vh;
}

.forms {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding: 50px;
    margin-top: -100px;
    width: 500px;
    height: 400px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: white;

}
.cep {
    border: none;
    outline: none;
    width: 300px;
    font-size: 22px;
    text-indent: 20px;
}
.it-form {
    position: relative;
    font-size: 22px;
    color: #808080;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 50px;
    margin-top: 50px;
    text-indent: 10px;
    border-radius: 20px;
   
}
.it-form-inp {
   position: relative;
    font-size: 22px;
    color: #808080;
     display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 50px;
    margin-top: 20px;
     border-radius: 20px;
     text-indent: 10px;
}
.cep {
    text-indent: 150px;
}
.cep::placeholder {
    color: rgb(197, 195, 195);
    font-size: 18px;
}


 .cep ~ label{
    position: absolute;
    color: skyblue;
    top: 0px;
    transition: .4s;
}
.cep:focus, .cep:valid {
    text-indent: 20px;
}
.cep:focus ~ label,
.cep:valid ~label {
    transform: translateY(-25px);
    font-size: 18px;
}
label {
 color: skyblue;
 margin-left: 10px;
}
button {
    width: 500px;
    height: 50px;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    font-family: monospace;
    font-weight: bold;
     text-shadow: 3px 0px 2px rgb(131, 128, 128);
    color: rgb(112, 112, 153);
    font-size: 28px;
    background: rgb(217, 238, 247);
}
button:hover {
    color: rgb(217, 238, 247);
    background:rgb(14, 14, 136);
    box-shadow: 0px 5px 5px rgb(131, 128, 128);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 99.7vw;
    text-shadow: 5px 0px 2px rgb(131, 128, 128);
    height: 50px;
    bottom: 0;
    left: 0;
    color: skyblue;
    background: rgba(0, 0, 0, 0.4);

}
.texto {
    font-size: 35px;
}
}
